.start_block {
    text-align: center;
}

input {
    margin-right: 10px;
}

button {
    width: 100px;
    margin: 10px auto;
    cursor: pointer;
    display: block;
}

.answer_btn {
    display: block;
}

label, input[type=radio] {
    cursor: pointer;
}

